---
import Layout from '../layouts/Layout.astro';
import { getCollection } from 'astro:content';

const books = await getCollection('books')
console.log(books)
---

<Layout title="Tienda online libros.">
	<main>
		<h1 class=" text-red-500 text-2xl font-black text-center mb-3">Libreria online</h1>
		<section>
			<div class=" grid grid-cols-2 gap-10 ">
				{books.map( book => {
					const { slug,data } = book
					const {title,author,img,readtime,description,buy } = data
					return(
						<article class="book">
							<a href={`/libro/${slug}`} class="mb-2"><img src=`${img}` alt=`Imagen del libro ${title}`></a>
							<div>
								<h2>{title}</h2>
								<p>{author}</p>
								<span>Lectura en: {readtime}</span>
							</div>
						</article>
					)}
				)}
			</div>
		</section>
	</main>
</Layout>
<style>
	.book{
		@apply flex items-center my-2
	}
	.book img{
		@apply h-60 w-auto
	}
	.book div{
		@apply  block  ml-3
	}
	.book h2{
		@apply font-black text-xl
	}
</style>
